body {
  background-color: #eee;
}

.countdown {
  text-align: center;
  font-weight: bold;
  background-color: gold;
  padding: 1em;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article {
  flex: 1 1 300px;
  position: relative;
  height: 300px;
}

.article__thumbnail {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__hed {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0;
  padding: 0 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-sizing: border-box;
  font: bold 18px/1.2 Georgia, serif;
}

.article:nth-child(1) {
  flex: 1 1 100%;
  height: 400px;
}

.article:nth-child(1) .article__hed{
  font-size: 32px;
  top: auto;
  bottom: 0;
  width: auto;
}
